.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Navbar-text-center {
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 500;
}

.ace-editor {
  padding-top: 10px;
  margin-right: -15px;
}
.ace-editor-controller {
  padding-top: 15vh;
  padding-left: 30px;

}
.ace-editor-controller-container {
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.ace-editor-controller.down  {
  padding-top: 20px;
}

.ace-editor-controller .btn {
  font-weight: 700;
}
.ace-editor-code-run-btn {
  width: 100px;
}
.trace-table-canvas {
  background: #f7f7f7;
  margin-top: 15px;
  height: auto;
  margin-left: -15px !important;
  margin-right: -15px !important;
}

.trace-table-placeholder {
  height: 90vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}
.editor-container {
  margin-right: 0 !important;
}

.trace-table-container {
  margin-left: 0px;
}

.trace-table-placeholder span {
  font-weight: 700;
  font-size: 30px;
  color: #4e555b;
  opacity: 0.4;
}
.learnet-table {
  text-align: center;
}

.cell-highlighted {
  background: #ffc1086b;
  font-weight: 700;
}
.ace-dropdown {
  width: 30%;
  padding-left: 10px;
}
.ace-dropdown-form {

}
#ace-editor > div.ace_scroller > div {
  padding-top: 5px !important;
}

#ace-editor {
  height: 90vh;
  display: flex;
  width: 100%;
  border-top: 1px solid #e8e8e8;
}

.learnet-table th, .learnet-table td {
  font-size: 13px;
}
.learnet-table tr {
  line-height: 1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
